@using PornYaShop.DataContext.Entities

<div class="product-card card">
    <div class="cover-wrapper">
        <img src="https://www.armyoriginal.sk/images/Hawk_para_belum_siva.jpg" />
        @*<span class="label @Labels[RandomNum].Color">@Labels[RandomNum].Title</span>*@
    </div>
    <h3 class="title">@(product.Title), @(productVariant.Title)</h3>
    <hr />
    <div class="product-card-price @(productVariant.Discount > 0 ? "discount": "")">
        <h2 class="price">@product.Price€</h2>
        <h2 class="discount-price">@productVariant.CalcDiscountPrice(product.Price)€</h2>
    </div>
</div>

@functions {

    [Parameter]
    ProductVariant productVariant { get; set; }

    [Parameter]
    Product product { get; set; }
}